html{
    height: 100%;
    
}
body{
    height: 100%;
    background-color: var(--background);
}


.container{
    width: 32%;
    height: 65%;
    display: block;
    position: relative;
    margin: auto;
    top: 15%;
    font-family: var(--font-title);
    background-color: var(--div-back);
    border: 0.05em solid var(--background);
    border-radius: 0.8em;
}


.label{
    width: 100%;
    position: relative;
    margin: 4%;
    top: 2em;
}

input{
    height: 2.5em;
    width: 75%;
    margin: 5%;
    padding: 1%;
    font-size: 1.2em;
    border: black 0.1em solid;
    border-radius: 0.6em;
}


.submit{
    margin: auto;
    position: relative;
    width: 50%;
    top: 3em;
}
#submit{
    margin-bottom: 3%;
    background-color: #37c42b;
    border: black 0.1em solid;
    border-radius: 0.6em;
    text-transform: uppercase;
    font-family: var(--font-title);
    font-size: 1.2em;
}
h2{
    margin-bottom: 3%;
    text-align: center;
    color: white;
    font-size: 3em;
    font-family: var(--font-title);
}





