@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
:root{
    --font-title:'VT323';
    --font: 'Ubuntu';
    /*DARKMODE*/

    --maintransparent: rgba(22, 22, 22, 0.644);
    --background: #1e1e1e;
    --div-back: rgb(14, 14, 14);
    --div-back-r:14;

    
    --color1: rgb(34, 34, 34);

    --darkgreen:rgb(35, 62, 33);
    --darkgreen-r:35;
    --darkgreen-g: 62;
    --darkgreen-b: 33;
    --green:#508F4A;

    --green-agen:rgb(35, 62, 33);

    --text-color:white;
    
    --font_title: 
}
*{
    transition: all 1s;
}