@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css');
:root{
    --font-title:'VT323';
    --font: 'Ubuntu';
    /*DARKMODE*/

    --background: #1e1e1e;
    --div-back: rgb(14, 14, 14);
    --div-back-r:14;

    --color1: rgb(34, 34, 34);

    --darkgreen:rgb(35, 62, 33);
    --darkgreen-r:35;
    --darkgreen-g: 62;
    --darkgreen-b: 33;
    --green:#37c42b;
    
    --green-agen:rgb(35, 62, 33);

    --text-color:white;
    
    --font_title: 
}
body{
    background-color: var(--background);
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container{
    background-color: var(--div-back);
    width: 100%;
    position: relative;
    border-radius: 150px;
    height: 150%;
    top: 10%;
    
}
#TITLE{
    display: flex;
    top: 0px;
    justify-content: center;
    align-items: center;
    height: 40%;
    position: relative;
}
#TITLE span{
    font-size: 60px;
    color: var(--text-color);
    z-index: 10;
}
#TITLE span#eletronic{
    font-size: 60px;
    color: var(--green);
}
#downlogin{
    height: 200px;
    width: calc(100% + 20px);
    background-color: transparent;
    position: absolute;
    bottom: 0px;
    cursor: pointer;

}
#upospite{
    height: 200px;
    width: calc(100% + 20px);
    background-color: transparent;
    position: absolute;
    top: 0px;
    cursor: pointer;

}
#rightregister{
    height: 100%;
    width: 150px;
    position: absolute;
    right: -150px;
    top: 0px;
    cursor: pointer;

}
#leftlogin{
    height: 100%;
    width: 150px;
    position: absolute;
    left: -150px;
    top: 0px;
    cursor: pointer;

}
#accesso{
    width: 200%;
    height: 110%;
    top: -10%;
    position: absolute;
    display: flex;
    right: -100%;
    justify-content: space-around;
}
#box1{
  position: relative;
  top: -0.3em;
  right: 4.4em;
}
#terms1{
  position: relative;
  top: -0.8em;
  right: 9.5em;
}
#box2{
  position: relative;
  top: -4.5em;
  right: 5.3em;
}
.button_signin{
  position: relative;
  top: 1em;
}
.button_reg{
  position: relative;
  top: -4em;
}
.recupera{
  position: relative;
  top: 1em;
}
#register{
  position: relative;
  width: 62em;
  height: 26em;
  top: 21.9em;
  left: 8em;
  background-color: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  align-content: space-around;
  border-radius: 3em;
}
#form_reg{
  height: 90%;
  border-radius: 3em;
  width: 65%;
}

#my-dropdown{
  font-size: 1.2em;
  height: 1.5em;
  position: relative;
  top: -11.5em;
  width: 47%;
  background-color: var(--background);
  color: white;
  float: right;
  border: 0.1em solid white;
  border-radius: 1em;
}
#my-dropdown2{
  font-size: 1.2em;
  height: 1.5em;
  position: relative;
  top: -8.8em;
  width: 47%;
  background-color: var(--background);
  color: white;
  float: right;
  border: 0.1em solid white;
  border-radius: 1em;
}

#hide{
  opacity: 0;
}

#hide2{
  opacity: 0;
}

#login{
  opacity: 0;
  position: relative;
  width: 30em;
  height: 30em;
  top: 20em;
  left: 7.95em;
  background-color: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  align-content: space-around;
  border-radius: 3em;
}
#form_log{
  height: 80%;
  border-radius: 3em;
  width: 65%;
}

h4{
  color: var(--green);
  font-size: 1.3em;
}

#T{
  position: absolute;
  top: 0;
  padding: 2em 0em 2em 1em;
}
#electronic{
  font-size: 4em;
  color: var(--green);
}
#tutor{
  font-size: 4em;
  color: white;
}
#h_link{
  font-size: 1.5em;
  color: white;
  position: relative;
  left: 250%;
}

#index{
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  position: relative;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 1em;

}

#interno{
  text-align: left;
}

#head{
  position: relative;
  top: -3em;
}

.container_Termini{
  color: white;
  font-size: 1.2em;
  margin: 5em;
}

.corpo{
  text-align: center;
}

.sub_sub{
  text-transform: uppercase;
  text-align: center;
}

#spazio{
  background-color: var(--background);
}


#subhead{
  font-size: 2em;
}

/*---------------------------------------*/

.input {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;
  }

  
div.inputitem {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .inp::before {
    content: "";
    display: block;
    position: relative;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    background: #fff;
  }
  
  .inp::after {
    font-family: Material-Design-Iconic-Font;
    font-size: 22px;
    color: #fff;
  
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: relative;
    top: -45px;
    left: -20px;
    padding-left: 5px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  div.input:focus {
    padding-left: 5px;
  }
  
  div.input:focus + .inputitem::after {
    top: -22px;
    font-size: 18px;
  }
  
  .input:focus + .inputitem::before {
    width: 100%;
  }
  
  .has-val.input + .inputitem::after {
    top: -22px;
    font-size: 18px;
  }
  
  .has-val.input + .inputitem::before {
    width: 100%;
  }
  
  .has-val.input {
    padding-left: 5px;
  }
  form{
    width: 200px;
    margin: auto;
    padding: 30px;
    background-color: var(--background);
    border-radius: 30px;
  }
  .mdi-account-outline{
    color: white;
    position: relative;
    top: -20px;
    left: -25px;
    font-size: 20px;
  }
 .mdi-key{
    color: white;
    position: relative;
    top: 30px;
    left: -25px;
    font-size: 20px;
    rotate: 15deg;
  }
  input{
    background-color: transparent;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    font-size: larger;
    border: 1px solid white;
  }
  .labe{
    position: relative;
    top: -5px;
    padding-bottom: 5px;
    color: white;
    font-family: Ubuntu;
  }
  .labe1{
    position: relative;
    top: 15px;
    left: -30px;
    padding-bottom: 5px;
    color: white;
    font-family: Ubuntu;
  }
 .arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 1vw;
    height: 1vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -13px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}



#arrow1 {
  top: 5%;
  transform: rotate(180deg);
  left: calc((100% )/2 - 0.13vw);
}
#arrow2 {
  transform: rotate(0deg);
  right: calc((100%)/2 - 1vw);;
}
#arrow3 {
  transform: rotate(270deg);
  left: calc(100% + 10%);
  top: 50%;
}
#arrow4 {
  transform: rotate(90deg);
  left: -5%;
  bottom: 50%;
}
.comment{
  width: 150px;
  text-align: center;
  margin: 0px calc(50% - 85px);
  vertical-align:middle;
  position: relative;
  bottom: -15em;
  color: white;
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #1e1e1e;
}

h2{
  text-align: center;
  color: #37c42b;;
  font-size: 2em;
  font-family: 'VT323';
}

input:focus ~ label,
input:valid ~ label{
  top: -5px;
}

.inputbox{
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
  font-family: 'Ubuntu';
}

.inputbox label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
  font-family: 'Ubuntu';
}

.inputbox input{
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 5px 5px;
  color: #fff;
}

.inputbox ion-icon{
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 18px;
}

button{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: transparent;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  border-color: #fff;
  font-family: 'Ubuntu';
}

.ricordami{
  position: relative;
  font-size: 1.05em;
  color: #fff;
  font-family: 'Ubuntu';
}

.recupera{
  text-align: center;
  font-size: 1.1em;
  color: #fff;
  margin-top: 25px;
  font-family: 'Ubuntu';
}

.recupera span a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.recupera span a:hover{
  text-decoration: underline;
}

.register{
  text-align: center;
  font-size: 1.1em;
  color: #fff;
  margin-top: 20px;
  font-family: 'Ubuntu';
}

.register p a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.register p a:hover{
  text-decoration: underline;
}