.my-button {
  background-color: #1E1E1E;
  color: white;
  border-radius: 0.8em;
  padding: 0.7em 1.7em;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.2s, transform 0.2s;
}

.my-button:hover {
  box-shadow: 0px 0px 5px 2.5px #14db28;
}

.my-button:active {
  box-shadow: 0px 0px 10px 5px #14db28;
}

body {
  font-size: 16px;
  background-color: var(--div-back);
  font-family: var(--font);
  color: var(--text-color);}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  border-radius: 3em;
  padding: 4em;
}

.left {
  flex-basis: 75%;
  border-right: 3px solid #0DA700;
  padding-right: 1em;
  text-align: center;
}

.right {
  flex-basis: 25%;
  padding-left: 1em;
}

h1 {
  text-align: center;
  margin-top: 1em;
}
